.container {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.update-time {
  margin-bottom: 8px;
  font-size: 12px;
  color: #555;
  text-align: right;
}

.simple-table {
  width: 100%;

}

.simple-table th,
.simple-table td {
  padding: 6px 10px;
  text-align: center;
}

.valid {
  color: green;
  font-weight: bold;
}

.invalid {
  color: red;
  font-weight: bold;
}